body
{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(45,69,104,1) 35%, rgba(0,212,255,1) 100%);
    font-family: "Roboto", sans-serif;
}

        .search-container {
            margin-top: 50px;
        }

        .search-container .search-heading {
            display: block;
            margin-bottom: 50px;
        }

        .search-container input,
        .search-container input:focus {
            padding: 16px 16px 16px;
            border: none;
            background: rgb(255, 255, 255);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1) !important;
        }

.container-fluid {
    margin: auto;
    margin-top: 50px;

    width: 80%;
}
